{% extends "auth_base.html" %}

{% block style %}
    <link rel="stylesheet" href="/static/css/admin.css">
{% endblock %}


{% block content %}
     
<div id="admin-panel-container">
    <div id="menu">
        <div id="product-menu">
            <button id="create-product-btn">Criar Produto</button>
            <button id="search-products-btn">Buscar Produtos</button>
            <button id="update-product-btn">Atualizar Produto</button>
            <button id="delete-product-btn">Deletar Produto</button>
        </div>
        <div id="order-menu">
            <button id="search-order" onclick="searchOrder()">Buscar Pedidos</button>
            <button id="register-order">Registar Venda Manual</button>
        </div>
        <div id="user-menu">
            <button id="seach-user" onclick="searchUser()">Buscar clientes</button>
        </div>                
    </div>
    <div id="chosen-option-content"></div>
    <div id="info-message"></div>
</div>
<script>
    var container = document.getElementById('chosen-option-content');
    var infoContainer = document.getElementById('info-message');
    var order = new Map();
    order.set("items", []);
    order.set("status", "paid"); 

    async function createProductForm() {
 
        container.innerHTML= `<form id="productForm" onsubmit="return createProductSendForm(event)">
            <input type="text" name="name" placeholder="Nome" minlength="1" required>
            <input type="text" name="description" placeholder="Descrição">
            <input type="text" name="image" placeholder="Imagem">
            <input type="number" name="stock_quantity" placeholder="Quantidade" min="0" step='1' required>
            <input type="number" name="price" placeholder="Preço" min="0.1" step="0.01" required>
            <button type="submit">Criar Produto</button>
        </form>
        `;
        
    }
    
    async function createProductSendForm(event){
        event.preventDefault();
        const form = document.getElementById('productForm');
        const data = {
            name: form.name.value, 
            description: form.description.value, 
            stock_quantity: form.stock_quantity.value,
            price: form.price.value,
            image: form.image.value
        };

        const response = await fetch("/api/products/", {
            method: 'POST',
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(data)
        });

        if (response.ok) {
            infoContainer.innerHTML = '<p class="success-message">Produto criado com sucesso!</p>'
            setTimeout(() => infoContainer.innerHTML = '', 5000)
            form.reset();
            return;
            
        } else if (response.status === 409) {
            infoContainer.innerHTML = '<p class="error-message">Já existe um produto com esse nome!</p>'
            setTimeout(() => infoContainer.innerHTML = '', 5000)
            return;
        
        } else {
            infoContainer.innerHTML = '<p class="error-message">Não foi possível criar produto! Verifique os dados e tente novamente.</p>'
            setTimeout(() => infoContainer.innerHTML = '', 5000)
            return;
        }   
    }

    async function updateProductForm() {

        container.innerHTML = `
            <form id="productForm" onsubmit="return updateProductSendForm(event)">
                <input type="number" name="id" placeholder="Id" min="1" step="1" required>
                <input type="text" name="name" minlength="1" placeholder="Nome">
                <input type="text" name="description" placeholder="Descrição">
                <input type="text" name="image" placeholder="Imagem">
                <input type="number" name="stock_quantity" placeholder="Quantidade" min="0" step='1'>
                <input type="number" name="price" placeholder="Preço" min="0.1" step="0.01">
                <button type="submit">Atualizar Produto</button>
        </form>
        `;

    }

    async function updateProductSendForm(event) {
        event.preventDefault();
        const form = document.getElementById('productForm');
        const data = {};
        if (form.name.value) data.name = form.name.value;
        if (form.description.value) data.description = form.description.value;
        if (form.stock_quantity.value) data.stock_quantity = form.stock_quantity.value;
        if (form.price.value) data.price = form.price.value;
        if (form.image.value) data.image = form.image.value;
        
        const response = await fetch(`/api/products/${form.id.value}`, {
            method: 'PATCH',
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(data)
        });

        if (response.ok) {
            infoContainer.innerHTML = '<p class="success-message">Produto atualizado com sucesso!</p>'
            form.reset();
            setTimeout(() => infoContainer.innerHTML = '', 5000)
            return;
            
            
        } else if (response.status === 404) {
            infoContainer.innerHTML = '<p class="error-message">Produto não encontrado! Verifique o Id.</p>'
            setTimeout(() => infoContainer.innerHTML = '', 5000)
            return;
        
        } else if (response.status === 409) {
            infoContainer.innerHTML = '<p class="error-message">Já existe um produto com esse nome!</p>'
            setTimeout(() => infoContainer.innerHTML = '', 5000)
            return;
        
        } else {
            infoContainer.innerHTML = '<p class="error-message">Não foi possível criar produto! Verifique os dados e tente novamente.</p>'
            setTimeout(() => infoContainer.innerHTML = '', 5000)
            return;
        }
    }

    async function deleteProduct() {
        container.innerHTML = `
        <input type="number" id="product_id" name="id" placeholder="Id" min="1" step="1" required>
        <button id="delete-btn">Deletar</button>
        `;

        document.getElementById('delete-btn').addEventListener("click", async () => {
            const id = parseInt(document.getElementById("product_id").value);
            const response = await fetch(`/api/products/${id}`, {
                method: 'DELETE'
            });

            if (response.ok) {
                infoContainer.innerHTML = '<p class="success-message">Produto deletado com sucesso!</p>'
                setTimeout(() => infoContainer.innerHTML = '', 5000)
                return;
            
            } else {
                infoContainer.innerHTML = '<p class="error-message">Produto não encontrado! Verifique o Id.</p>'
                setTimeout(() => infoContainer.innerHTML = '', 5000)
                return;
            }
        
        });
    }

    async function getProducts() {
        container.innerHTML = `
            <div id="search-options">
                <button id="search-by-name">Por Nome</button>
                <button id="search-all-products">Todos os Produtos</button>
            </div>
        `;

        document.getElementById("search-by-name").addEventListener("click", async () => {
            container.innerHTML = `
            <input type="text" id="product_name" name="product_name" placeholder="Nome do Produto" required>
            <button id="search-single-product-btn">Buscar</button>
            `;
            
            document.getElementById("search-single-product-btn").addEventListener("click", async () => {
                const name = document.getElementById("product_name");
                const response = await fetch(`/api/products/filters?name=${name.value}`)
                const data = await response.json();
                
                if (data.products.length > 0) {
                    const product = data.products[0];
                
                    container.innerHTML =`
                    <p>Id: ${product.id}<p>
                    <p>Nome: ${product.name}</p>
                    <p>Descrição: ${product.description}</p>
                    <p>Stock: ${product.stock_quantity}</p>
                    <p>Preço: ${product.price}</p>
                    <p>Ativo: ${product.is_active}</p>
                    
                    `;
                } else {
                    container.innerHTML = '<p class="error-message">Produto não encontrado!</p>'
                }
            });
        });
        
        document.getElementById("search-all-products").addEventListener("click", async () => {
            const response = await fetch('/api/products/'); 

            const data = await response.json();

            if (data.products.length > 0) {
                let html = '';

                data.products.forEach(product => {
                    html +=` 
                    <div class='product-card'>
                        <p>Id: ${product.id}</p>
                        <p>Nome: ${product.name}</p>
                        <p>Descrição: ${product.description}</p>
                        <p>Stock: ${product.stock_quantity}</p>
                        <p>Preço: R$ ${product.price}</p>
                        <p>Ativo: ${product.is_active}</p>
                        
                    </div>`;
                    
                });
                container.innerHTML = html
            
            } else {
                container.innerHTML = '<p class="error-message">Nenhum produto encontrado!</p>'
            }
          
        });
        
    }

    async function createOrder() {
        order.set("items", []);
        container.innerHTML = `
            <input type="number" id="product-id" name="id" placeholder="Id do produto" min="1" step="1"  required>
            <input type="number" id="product-quantity" name="quantity" placeholder="Quantidade Vendida" min="1" step="1" required>
            <button onclick="addProduct()">Adicionar Produto</button>
            <button onclick="createManualOrder()">Registrar Venda</button>
        `;
    }
    
    async function addProduct() {
        const productId = document.getElementById("product-id");
        const productQuantity = document.getElementById("product-quantity");

        if (!productId.value || !productQuantity.value) {
            infoContainer.innerHTML = '<p class="error-message">Preencha Id e Quantidade antes de adicionar.</p>';
            return;
        }
        
        const items = order.get("items");

        items.push({
            product_id: parseInt(productId.value), 
            quantity: parseInt(productQuantity.value)
        });
        
        infoContainer.innerHTML = '<p class="success-message">Produto adicionado ao pedido.</p>'; 
        setTimeout(() => infoContainer.innerHTML = '', 2000);
        productId.value = ''
        productQuantity.value = ''
        
    }

    async function createManualOrder() {
        let response;
        
        if (order.get("items").length > 0) {  
            response = await fetch('/api/orders/', {
                method: 'POST',
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify(Object.fromEntries(order))
            });
        
        } else {
            infoContainer.innerHTML = '<p class="error-message">Nenhum produto para adicionar!</p>'
            return;
        }
       
        if (response.ok) {
            const myOrder = await fetch('/api/orders/my-orders');

            if (myOrder.ok) {
                order.set("items", []);
                infoContainer.innerHTML = '<p class="error-message">Erro ao criar Pedido! Lista apagada! Clique em excluir pedido no carrinho e tente novamente!</p>'

            } else {      
                order.set("items", []);
                infoContainer.innerHTML = '<p class="success-message">Pedido criado com sucesso!</p>'               
                setTimeout(() => infoContainer.innerHTML = '', 2000);
                return;           
            }
                      
        } else if (response.status === 404) {
            order.set("items", []);
            infoContainer.innerHTML = '<p class="error-message">Algum produto adicionado não existe! Lista apagada! Verifique o Id e tente novamente!</p>'
            

        } else if (response.status === 400) {
            order.set("items", []);
            infoContainer.innerHTML = '<p class="error-message">Algum produto não possui estoque suficiente! Lista apagada! Verifique e tente novamente!</p>'           

        } else {
            infoContainer.innerHTML = '<p class="error-message">Sua sessão expirou! Redirecionando para página de login ...</p>'
            window.location.href = '/login';
            return;
        }
    }

    async function searchOrder() {
        container.innerHTML = `
        <input type="number" id="order-id" name="id" placeholder="Id do pedido" min="1" step="1" required>
        <button id="search-order-btn">Buscar</button>
        `;
        
        document.getElementById("search-order-btn").addEventListener("click", async () => {

            const orderId = document.getElementById('order-id').value;

            const response = await fetch(`/api/orders/${orderId}`, {
                method: "GET",
                headers: {"Content-Type": "application/json"}
            });

            
            if (response.ok) {
                const data = await response.json();

                let html = `
                <h2>Pedido:<h3>
                <div class='order-card'>
                    <p>Id: ${data.id}</p>
                    <p>Cliente: ${data.user_id}</p>
                    <p>Total: R$${data.total_amount}</p>
                    <p>Status: ${data.status}</p>
                </div>
                <h2>Produtos:</h3>
                <br>
                `;

                data.items.forEach(product => {
                    html +=` 
                    <div class='product-card'>
                        <p>Id: ${product.id}</p>
                        <p>Nome: ${product.product_name}</p>
                        <p>Preço: R$ ${product.price}</p>
                    </div>`;
                    
                });
                
                container.innerHTML = html

            } else {
                infoContainer.innerHTML = '<p class="error-message">Pedido não encontrado!</p>' 
                setTimeout(() => infoContainer.innerHTML = '', 4000);
            }
        });
        
    }

    async function searchUser() {
        container.innerHTML = `
        <input type="number" id="user-id" name="id" placeholder="Id do Cliente" min="1" step="1" required>
        <button id="search-user-btn">Buscar</button>
        `;
        
        document.getElementById("search-user-btn").addEventListener("click", async () => {
            const userId = document.getElementById("user-id").value;
            const response = await fetch(`/api/users/${userId}`, {
                method: "GET",
                headers: {"Content-Type": "application/json"}
            })
            
            if (response.ok) {
                const data = await response.json();

                container.innerHTML = `
                <h2>Cliente:</h2>
                <div id="user-card">
                    <p>Id: ${data.id}</p>
                    <p>Username: ${data.username}</p>
                    <p>Email: ${data.email}</p>
                </div>
                `;

            } else {
                infoContainer.innerHTML = '<p class="error-message">Cliente não encontrado!</p>' 
                setTimeout(() => infoContainer.innerHTML = '', 4000);
            }
        
        });
    }
    document.getElementById("register-order").addEventListener("click", createOrder);
    document.getElementById("create-product-btn").addEventListener("click", createProductForm);
    document.getElementById("update-product-btn").addEventListener("click", updateProductForm);
    document.getElementById("delete-product-btn").addEventListener("click", deleteProduct);
    document.getElementById("search-products-btn").addEventListener("click", getProducts);
</script>

{% endblock %}