services:
  sabores_da_terra_database:
    image: postgres:17
    environment:
      POSTGRES_USER: app_user
      POSTGRES_DB: app_db
      POSTGRES_PASSWORD: app_password    
    command: postgres -c 'max_connections=500'    
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    deploy:
      resources:
        limits:
          cpus: '0.3'
          memory: '1GB'         

  sabores_da_terra_app1: &sabores_da_terra
    image: sabores_da_terra
    build: .
    entrypoint: ./entrypoint.sh
    depends_on:
      - sabores_da_terra_database
    environment:
      DATABASE_URL: postgresql+asyncpg://app_user:app_password@sabores_da_terra_database:5432/app_db
    deploy:
      resources:
        limits:
          cpus: '0.3'
          memory: '0.4GB'

  sabores_da_terra_app2:
    <<: *sabores_da_terra

  nginx:
    image: nginx:alpine
    container_name: sabores_nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro   
    depends_on:
      - sabores_da_terra_app1
      - sabores_da_terra_app2    
    ulimits:
      nproc: 1000000
      nofile:
        soft: 1000000
        hard: 1000000   
    deploy:
      resources:
        limits:
          cpus: '0.1'
          memory: '0.2GB'

volumes:
  pgdata: